body{
    background-color: rgb(36, 65, 65);
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: white;
    text-align: start;
}
.p{
    align-self: center;
}

.navbar-nav .nav-link:hover{
    font-weight:bold;
    color:#4fffb0;
}

.navbar-nav .nav-link{
    font-size: 20px;
}

.navbar-brand{
    font-size: 30px;

}


.navbar-dark{
    background-color:rgb(1, 49, 47);
}

.circular-image-container{
    width:200px;
    height:200px;
    overflow: hidden;
    border-radius: 20%;
    border: 2px solid #ccc;

    display: flex;
    justify-content: center;
    align-items: center;
}

.circular-image{
width:120%;
height: auto;
display: block;
}

.name{
    color: #fff;
}

.title{
    color: #4fffb0;
}

.social_links{
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #ccc;

    display: flex;
    justify-content: center;
    align-items: center;
}

.about_image{
    width: 200px;
    height: auto;
    display: block;
}

.jumbtron{
    background-color: #002244;
    padding:20px;
    border-radius:10px;
}


.display4 {
color: #eef3f8;
font-size: 24px;
}

.lead{
    font-size: 18px;
    color:#37cece;
}

.form-container{
    border: 2px solid whitesmoke;
    padding: 20px;
    border-radius: 10px;
    background-color:rgb(83, 153, 132);
}